/* RESET START */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    color: #111;
    font:  12px/1 "Harmonia_regular", sans-serif;
    background-color: #f4f6f8;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a, a:hover{
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
}
input, textarea, button{
    outline: none;
    border: none;
}
textarea{
    resize: vertical;
}
button{
    cursor: pointer;
}
/* RESET END */

/* DEFAULT CLASSES START */
.flex-container{
    display: flex;
}
.align-center{
    align-items: center;
}
.justify-sp-between{
    justify-content: space-between;
}
.orange-text{
    color: #ff5912;
}
.red-bg{
    background-color: #e12e3f;
}
.black-bg{
    background-color: #34404b;
}
.blue-bg{
    background-color: #3ab3ff;
}
.green-bg{
    background-color: #2fd967;
}
.white-bg{
    background-color: #fff;
}
.light-orange-bg{
    background-color: #ff9060;
}
.orange-bg{
    background-color: #ff5912;
}
/* DEFAULT CLASSES END */

/* DEFAULT COMPONENT START */
.custom-icon{
    display: inline-block;
}

/* HOVER ICON START */
.icon-add-to-cart-ic:hover {
    background-position: 0px -38px;
}
.icon-cart-ic:hover {
    background-position: -20px -59px;
}
.icon-like-ic:hover {
    background-position: -38px -80px;
}
.icon-search-ic:hover {
    background-position: -81px 0px;
}
.icon-share-ic:hover {
    background-position: -44px -59px;
}
.icon-user-ic:hover {
    background-position: 0px -59px;
}
/* HOVER ICON END */

.title{
    font-family: 'Harmonia_black';
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 25px;
}
.title.big{
    font-size: 52px;
}
.subtitle{
    display: block;
    font-size: 16px;
    color: #495662;
    margin-bottom: 70px;
}
.default-section{
    padding: 60px 0;
}
.item{
    font-family: 'Harmonia_bold';
    font-size: 18px;
    background-color: #fff;
    padding: 30px 10px;
    transition: all .3s linear;
    height: 372px;
    position: relative;
}
.item:hover{
    box-shadow: 0 5px 15px rgb( 0, 0, 0 );
}
.item .item-img{
    transition: all .3s linear;
    height: 216px;
}
.item .item-img img{
    max-height: 100%;
}
.item:hover .item-img{
    height: 90px;
}
.item-description{
    padding: 0 40px;
}
.item .item-title{
    margin: 30px 0;
    color: #34404b;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item:hover .item-title{
    color: #ff5912;
}
.item:hover .item-price{
    display: none;
}
.more-info-on-hover{
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s linear;
    width: 100%;
    padding: 0 50px;
}
.item:hover .more-info-on-hover{
    opacity: 1;
}
.more-info-on-hover .size{
    font-size: 14px;
    color: #34404b;
    margin-bottom: 29px;
}
.more-info-on-hover .colors{
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #f2f4f7;
}
.more-info-on-hover .colors li{
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
}
.more-info-on-hover .item-controls{
    padding-top: 30px;
    text-align: center;
}
.more-info-on-hover .item-controls li{
    display: inline-block;
}
.more-info-on-hover .item-controls li+li{
    margin-left: 30px;
}
.load-more{
    background-color: #fff;
    padding: 25px 0 25px 15px;
    margin-top: 75px;
}
.load-more>span+span{
    margin-left: 5px;
}
.circle{
    display: inline-block;
    border-radius: 50%;
    background-color: #ff5912;
    width: 8px;
    height: 8px;
}
header .top-header{
    border-bottom: 1px solid #edeff1;
    padding: 20px 0;
}
header .top-header .phones-list li+li{
    margin-left: 20px;
}
header .top-header .phones-list span.custom-icon{
    margin-right: 10px;
}
header .top-header .social-nav a{
    color: #555f68;
    font-size: 16px;
}
header .top-header .social-nav a+a{
    margin-left: 20px;
}
header .bottom-header{
    padding: 40px 0;
}
.items-carousel{
    min-height: 650px;
    background: url("../img/carousel-img-1.jpg") no-repeat center / cover;
    margin-bottom: 60px;
}
footer{
    padding: 85px 0;
    font-size: 14px;
    color: #28313b;
}
/* DEFAULT COMPONENT END */

/* ALL STYLES START */

/* HEADER START */
header .bottom-header .header-nav{
    font-size: 16px;
    color: #34404b;
    margin-left: 84px;
}
header .bottom-header .header-nav a+a {
    margin-left: 40px;
}
header .bottom-header .header-nav a:hover{
    color: #ff5912;
}
header .bottom-header .user-controls{
    margin-left: auto;
}
header .bottom-header .user-controls li{
    position: relative;
}
header .bottom-header .user-controls li+li{
    margin-left: 30px;
}
header .bottom-header .user-controls li>span{
    position: absolute;
    bottom: 25px;
    right: 1px;
}
header .bottom-header .user-controls li>span.label-default{
    background-color: #34404b;
}
header .bottom-header .user-controls li>span.label{
    padding: 5px 7px;
    font:  10px/1 "Harmonia_light", sans-serif;
    border-radius: 50%;
}
/* HEADER END */

/* MAIN START */

/* CAROUSEL START */
.items-carousel .items-carousel-description .items-carousel-text>span{
    font-family: 'Harmonia_semibold';
    font-size: 18px;
    color: #3c4751;
    line-height: 1.6;
}
.items-carousel .items-carousel-description .items-carousel-text>p{
    font-size: 16px;
    color: #495662;
    line-height: 1.9;
    margin-top: 17px;
}
.items-carousel .items-carousel-description .price-wrapper{
    font-family: 'Harmonia_semibold';
    font-size: 18px;
    margin-top: 65px;
}
.items-carousel .items-carousel-description .price-wrapper a{
    margin-left: 32px;
}
.items-carousel .items-carousel-description .price-wrapper a:hover{
    color: #ff5912;
}
.items-carousel .items-carousel-description .price-wrapper .icon-cart-ic{
    background-position: -20px -59px;
    margin-right: 10px;
}
/* CAROUSEL END */

.kit{
    padding: 20px 60px;
}
.sales-block{
    position: relative;
}
.sales-block > div{
    display: inline-block;
    width: 50px;
    height: 60px;
}
.sales-block div:first-child{
    transform: rotate(-45deg);
}
.sales-block div:last-child{
    transform: rotate(45deg);
    position: absolute;
    left: 0;
}
.sales-block-percent{
    position: absolute;
    left: 22px;
    top: 8px;
    text-align: center;
}
.sales-block-percent .sales-text,
.sales-block-percent .sales-percent{
    display: block;
    color: #fff;
}
.sales-block-percent .sales-text{
    font-family: 'Harmonia_italic';
    font-size: 12px;
    margin-bottom: 5px;
}
.sales-block-percent .sales-percent{
    font-family: 'Harmonia_black';
    font-size: 18px;
}
.sales-block-text{
    border-right: 1px solid #f5f5f6;
    margin-left: -15px;
}
.sales-block-text .title{
    display: block;
    font-family: 'Harmonia_black';
    font-size: 22px;
    color: #34404b;
    margin-bottom: 14px;
}
.sales-block-text .text{
    display: block;
    font-size: 12px;
    color: #495662;
}
.sales-block-price{
    margin-right: -15px;
}
.sales-block-price .sales-price{
    font-family: 'Harmonia_black';
    font-size: 32px;
    color: #ff5912;
}
.sales-block-price .icon-add-to-cart-hover-ic{
    margin-right: 20px;
}
.adv-area{
    padding: 30px 180px;
    color: #34404b;

}
.adv-area>span{
    display: block;
}
.adv-area .adv{
    font-size: 16px;
    margin-bottom: 14px;
}
.adv-area .multipli{
    font-size: 12px;
}
/* MAIN END */

/* FOOTER START */
footer .logo .sign{
    display: block;
    margin-top: 22px;
}
footer ul.footer-nav{
    column-count: 3;
    width: 500px;
}
footer ul.footer-nav>li{
    color: #34404b;
    line-height: 2.14;
    white-space: nowrap;
}
footer ul.footer-nav>li::before{
    content: '';
    background-color: #48535d;
    border-radius: 50%;
    margin-right: 9px;
    font-size: 4px;
    padding-right: 5px;
    vertical-align: middle;
}
footer ul.footer-nav>li:hover{
    color: #ff5912;
}
footer ul.footer-nav>li:hover::before{
    background-color: #ff5912;
}
/*footer .footer-nav ul>li+li{*/
    /*margin-top: 20px;*/
/*}*/
footer .payment-methods .payment-methods-title{
    font-family: 'Harmonia_semibold';
    font-size: 16px;
}
footer .payment-methods .payment-methods-icon{
    margin-top: 20px;
}
footer .payment-methods .payment-methods-icon>span+span{
    margin-left: 10px;
}
/* FOOTER END */

/* ALL STYLES END */